* {
    box-sizing: border-box;
}

/* Images */
.profilePicture {
    height: 5rem;
    width: 5rem;
}


/* Forms */
#messageEntryArea {
    background: transparent;
    border: none;
    outline: none;
    margin: none;
    padding: none;
}

.commentEntryArea,
.commentEntryArea:focus {
    background: #092ea8;
    border: none;
    outline: none;
    margin: none;
    padding: none;
}

.commentEntryArea::placeholder,
.commentEntryArea:focus {
    color: white;
}

#messageEntryArea::placeholder {
    color: darkslategrey
}


#messageEntryArea:focus, .commentEntryArea:focus {
    box-shadow: none;
}

#sendMessage {
    color: darkslategray
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

#sendMessage:active, .postComment:active {
    box-shadow: none;
}

.comment {
    background: #092ea8;
    color: white;
}

.postComment {
    background: #092ea8;

}

