* {
    box-sizing: border-box;
}

/* Images */
.profilePicture {
    height: 5rem;
    width: 5rem;
}


/* Forms */
#messageEntryArea {
    background: transparent;
    border: none;
    outline: none;
    margin: none;
    padding: none;
}

#messageEntryArea::placeholder {
    color: darkslategrey
}

#messageEntryArea:focus {
    box-shadow: none;
}

#sendMessage {
    color: darkslategray
}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

#sendMessage:active {
    box-shadow: none;
}