* {
    box-sizing: border-box;
}

/** 
* Images 
*/
.profilePicture {
    height: 5rem;
    width: 5rem;
}

@media screen and (max-width: 576px) {
    .profilePicture {
        height: 4rem;
        width: 4rem;
    }
}


/** 
* Forms 
*/
.form_noStyling {
    border: none;
    outline: none;
    margin: none;
    padding: none;
}

.form_noStyling:focus {
    box-shadow: none;
}


/**
* Buttons 
*/
.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}


/** 
* Coloring 
*/
.background_accent, 
.background_accent:focus {
    background: #092ea8;
}

.backgound_transparent, 
.backgound_transparent:focus {
    background: transparent;
}

.placeholder_accentLight::placeholder {
    color: darkslategrey
}

.commentEntryArea::placeholder,
.commentEntryArea:focus,
.comment,
.editProfileContainer > * {
    color: white;
}
